.button {
  background: rgb(255, 164, 0);
  background: linear-gradient(
    151deg,
    rgba(255, 164, 0, 1) 0%,
    rgba(255, 164, 0, 1) 24%,
    rgba(249, 221, 175, 1) 100%
  );
  padding: 6px 3rem;
  font-weight: 600;
  border-radius: 1.2rem;
}

.button:hover {
  cursor: pointer;
  background: rgb(255, 164, 0);
  background: linear-gradient(
    289deg,
    rgba(255, 164, 0, 1) 0%,
    rgba(255, 164, 0, 1) 24%,
    rgba(249, 221, 175, 1) 100%
  );
}
.button_secondary:hover {
  cursor: pointer;
  background: rgb(255, 164, 0);
  
}
.button_secondary{
  background: rgb(255, 164, 0);
   
  padding: 10px 8px;
  border-radius: 8px;
}
.bg_primary {
  background-color: #eaf6ff;
}
.bg_secondary {
  background-color: #232528;
}

.txt_prime {
  color: #eaf6ff;
}
.txt_sec {
  color: #001121;
}
.active_b:hover{
  z-index: 0;
  cursor: pointer;
  
  border-radius: 8px;
}

.button_active{
  background-color: #0079ff ;
  
  border-radius: 8px;
}
.button_active:hover{
  z-index: 4;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(54, 116, 167, 0.606), 0 6px 20px 0 rgba(38, 77, 113, 0.56) !important;}